.header
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  padding: 0 2rem
  box-shadow: 0 1px 5px
  background-color: white

.logo
  height: 6rem

.checkbox
  position: absolute
  opacity: 0
  z-index: -1

  &:checked + .button + .nav
    display: block

  &:checked + .button
    opacity: .4

.button
  display: block
  border: 1px solid #888
  border-radius: .5rem
  padding: .5rem
  user-select: none
  @media (min-width: 546px)
    display: none

  &:before
    content: '\2630'
    font-size: 3rem
    font-weight: bold
    line-height: 100%
    color: #888888

  &:hover
    box-shadow: 0 0 5px #888

  &:active
    box-shadow: none

.nav
  display: none
  width: 100%
  @media (min-width: 546px)
    display: block
    width: auto

.links
  display: flex
  flex-direction: column
  list-style: none
  @media (min-width: 546px)
    flex-direction: row

.link
  text-align: center
  padding: 0 2rem

.ref
  font-size: 2rem
  text-decoration: none
  color: inherit

  &:hover
    opacity: .5
    transition: .3s
