.footer
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  border-top: 1px solid #AAAAAA
  padding: 0 2rem

.caption
  padding: 2rem 0

.icons
  display: flex

.ref
  display: flex
  justify-content: center
  align-items: center
  width: 2rem
  height: 2rem

  &:not(:last-of-type)
    margin-right: 2rem